@import url("https://fonts.googleapis.com/css2?family=Gaegu&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --color-primary-default: #b7ada1;
  --color-primary-light: #eee5da;

  --color-secondary-default: #ffa442;
  --color-secondary-light: #ffbf54;

  --color-basic-black: #222222;
  --color-basic-black-200: #374151;
  --color-basic-grey: #e5e6e9;
  --color-basic-white: #f5f5f5;
  --color-basic-red: #f87171;

  --border-radius-input: 0.375rem;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-basic-black);
}

main {
  min-width: 100vw;
  min-height: 100vh;
}

h2 {
  font-size: 8vw;
  color: var(--color-basic-white);
  font-weight: bold;
}

button {
  cursor: pointer;
}

.base-button {
  background-color: var(--color-primary-default);
  color: var(--color-basic-black);
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 40px;
  border-style: none;
  padding: 0.75rem 2rem;

  &:hover {
    background-color: var(--color-basic-grey);
  }
}

.icon-button {
  color: var(--color-primary-default);
  margin: 0.8rem 0.5rem;
}

input {
  background: color-mix(in srgb, var(--color-basic-black) 80%, black 20%);
  height: 48px;
  border-radius: var(--border-radius-input);
  color: var(--color-basic-white);
}

h5 {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--color-secondary-light);
  line-height: 2rem;
}

.display-none {
  display: none;
}

.symbol-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  .symbol-item {
    width: auto;
    display: grid;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.4s ease-out;

    span {
      display: block;
      border-bottom: 3px solid #ffffff;
    }
  }

  .symbol-line-yang {
    grid-template-columns: 50px 0px;
    transform: scaleX(1);
  }

  .symbol-line-yin {
    transform: scaleX(1);
    gap: 6px;
    grid-template-columns: 22px 22px;
  }

  .symbol-line-red > span {
    border-color: var(--color-basic-red);
  }
}

/* transform 動畫 */

.animation-flip-loop {
  animation: flip-loop 0.5s linear infinite;
}

@keyframes flip-loop {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  50% {
    transform: rotateY(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.animation-shrink-out {
  animation: shrinkOut 0.3s forwards;
  pointer-events: none;
}

@keyframes shrinkOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.animation-fadeOut-bottom {
  animation: fadeOutBottom 1s forwards;
}

@keyframes fadeOutBottom {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.1) translateY(500px);
  }
}

.animation-fade-top {
  animation: fadeTop 1s forwards;
  position: absolute;
  top: 50%;
  display: block;
}

@keyframes fadeTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
