#root {
  min-height: 100dvh;
}
#Start {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#Choose {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4rem;

  .coin-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    column-gap: 4rem;
    transition: opacity 1s ease-out, visibility 0s linear 1s;

    .coin-item {
      width: 25%;
      transition: transform 0.6s;

      &.coin-front {
        opacity: 1;
      }

      &.coin-back {
        opacity: 0.45;
      }
    }
  }

  .judgment {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: 0.5rem;
    padding: 0 1.5rem;

    .judgment-title {
      text-align: center;
      color: var(--color-basic-white);
    }

    .judgment-text {
      color: var(--color-primary-default);
      text-align: center;
    }
  }
}

#Has-sidebar {
  position: absolute;
  z-index: 1;
  right: 0;
}

#Dictionary {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background-color: var(--color-basic-black);
  z-index: 100;
  transform: translateX(100%);
  transition: opacity 0.25s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  display: flex;
  justify-content: center;

  &.open {
    transform: translate(0);
    visibility: visible;
    opacity: 1;
  }

  > .icon-button {
    right: 0;
    position: absolute;
  }

  .dictionary-content {
    width: 80vw;
    max-width: 1024px;
    margin: 2.8rem 0;
    display: grid;
    gap: 1.5em;
    justify-items: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;

    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.8rem;
    }

    .search-bar {
      width: 100%;
      position: relative;
      display: flex;
      grid-column: 1 / span 2;

      .icon-button:first-child {
        position: absolute;
        left: 10px;
        pointer-events: none;
      }
      .icon-button:last-child {
        position: absolute;
        color: var(--color-basic-white);
        right: 10px;
        cursor: pointer;
        > svg {
          width: 18px;
        }
      }

      input {
        width: 100%;
        padding-left: 52px;
        padding-right: 40px;
        border: 1px solid transparent;

        &:focus {
          border-color: var(--color-secondary-default);
        }
      }
    }
    .dictionary-card {
      border: 1px solid var(--color-secondary-default);
      border-radius: var(--border-radius-input);
      padding: 1em;
      width: 200px;
      height: fit-content;
      display: flex;
      gap: 0.5em;
      flex-direction: column;
      align-items: center;
      color: var(--color-primary-light);

      .dictionary-subtitle {
        margin-bottom: 0.5rem;
        color: var(--color-basic-red);
      }

      .dictionary-trigram {
        font-size: 0.8rem;
        line-height: 1.1rem;
      }

      .dictionary-judgment-box {
        .dictionary-judgment-title {
          svg {
            padding-right: 0.5rem;
          }
        }

        .dictionary-judgment-content {
          line-height: 1.25rem;
        }
      }
    }
    .dictionary-list {
      width: 100%;
      border: 2px solid var(--color-secondary-default);
      border-radius: var(--border-radius-input);
      background-color: color-mix(in srgb, var(--color-basic-black) 80%, black 40%);
      color: var(--color-primary-light);
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
      overflow: auto;

      .dictionary-title {
        padding: 1rem;
        @media (max-width: 992px) {
          padding: 0.5rem 1rem;
        }
      }

      .dictionary-list-content {
        overflow: hidden scroll;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
        padding: 0 1rem;

        .dictionary-list-item {
          padding: 1.5rem 0.75rem;
          cursor: pointer;
          border-radius: var(--border-radius-input);

          &:hover {
            background-color: color-mix(in srgb, var(--color-basic-black) 80%, white 2%);
          }
          &.clicked {
            background-color: color-mix(in srgb, var(--color-basic-black) 80%, white 2%);
            border: 2px solid color-mix(in srgb, var(--color-secondary-default) 80%, black 70%);
          }

          .dictionary-item-index {
            font-family: "Roboto Mono", "Inter", sans-serif;
          }
        }

        .dictionary-item-index {
          padding: 0.5rem;
          margin-right: 0.5rem;
          background-color: var(--color-basic-black-200);
          border-radius: var(--border-radius-input);
        }
      }
    }
  }
}
